.input-title {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 20px 20px 0 40px;
  font-size: 1.6rem;
  color: darkslategray;
  width: 100%;
}

.edit-container {
  position: relative;
}

.SplitPane {
  border-top: 1px solid #eee;
}

.Pane {
  overflow: auto;
}

.ace-github .ace_marker-layer .ace_active-line {
  background-color: #e6f7ff !important;
}

.edit-layout {
  height: 100%;
  background: #f9f9f9 !important;
}

.ace-github .ace_gutter {
  background: #f9f9f9 !important;
}

.Pane2 {
  background: #fff;
  border-left: 2px solid #eee;
}

.edit-header {
  padding: 0px 20px 0 40px;
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  color: dimgray;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: #fff !important;
  padding: 0 40px !important;
  border-top: 1px solid #eee;
}

.footer-cta {
  padding: 5px 10px !important;
  height: auto !important;
  border-radius: 0 !important;
  border-width: 0 0 0 1px !important;
  text-transform: uppercase;
  font-size: 0.8rem !important;
}

.footer-cta-publish {
  /* color: #1890ff !important; */
  border-right-width: 1px !important;
}

.ant-layout-footer button {
  border-width: 0 1px 0 0 !important;
  border-radius: 0 !important;
}

.jp-input {
  width: 100%;
  height: 97%;
  border: 0;
  resize: none;
}
