#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.header {
  background: #fff !important;
  padding: 0 30px !important;
}

.sider > div {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid #e8e8e8;
}

.top-menu {
  flex: 1;
}

.collapse-menu {
  flex: 0;
}

.dropdown-button {
  background: #fff;
  display: flex;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-button:hover {
  background: #fafafa;
}

.dropdown-text {
  flex: 1;
}

.hidden {
  visibility: hidden;
}

.post-list-card {
  width: 600px;
  margin: 80px 0px 40px 40px !important;
}

.post-list-card > div {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-layout-sider-collapsed {
  max-width: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}

.ant-layout-sider-children .ant-menu-inline-collapsed {
  width: 40px !important;
}

.ant-layout-sider-children .ant-menu-inline-collapsed > .ant-menu-item {
  padding: 0 10px !important;
  margin: 0 !important;
  line-height: 33px;
  height: 33px !important;
}
